.baseFont, .rootBase {
    font-family: Georgia, Verdana, Arial, sans-serif;
}

.rootBase {
    position: relative;
    left: 0px;
    background-color: purple;
}

.labelBase, .jumbotronLabelBase, .firstLineLabels {
    background-color: transparent;
    font-size: 11pt;

    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.firstLineLabels{
    top: 55px;
}

.jumbotronLabelBase {
    font-size: 54pt;
}

.secondRow{
    margin-top: 15px;
}

/*.messageStyle, .readMessageStyle, .anchorStyle, .visitedAnchorStyle {*/
    /*font-size: 8pt;*/

    /*margin-left: 5px;*/
    /*margin-top: 7px;*/
/*}*/

/*.messageStyle, .anchorStyle {*/
    /*font-weight: bold;*/
/*}*/

/*.readMessageStyle, .visitedAnchorStyle {*/
    /*font-weight: normal;*/
/*}*/

/*.anchorStyle, .visitedAnchorStyle {*/
    /*text-decoration: underline;*/
/*}*/

/*.alertFlag, .infoFlag, .warningFlag, .deadlineFlag, .errorFlag {*/
    /*padding: 2px;*/
    /*cursor: hand;*/
/*}*/

/*.infoFlag {*/
    /*background: #29a8c8;*/
/*}*/

/*.alertFlag {*/
    /*background: #fce15d;*/
/*}*/

/*.deadlineFlag {*/
    /*background: #c81e2b;*/
/*}*/

/*.warningFlag {*/
    /*background: #ff7716;*/
/*}*/

/*.errorFlag {*/
    /*background: #c81e2b;*/
/*}*/